#---------------------------------------------------------
# Templates bundle configuration file
# 5 values separated by ";"
# . value 1 : the label to be displayed 
# . value 2 : the file to be generated ( with variables replacement : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( with variables replacement )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------

Loader examples    ; loader_examples.txt     ; ${TMP}  ; loader_examples.vm ; 1
Loader2 examples   ; loader2_examples.txt     ; ${TMP}  ; loader2_examples.vm ; 1

Generator examples ; generator_examples_${BEANNAME}.txt  ; ${TMP}  ; generator_examples.vm ; 
Generator examples ; generator_examples_1.txt            ; ${TMP}  ; generator_examples.vm ; 1

Target examples    ; target_examples_${BEANNAME}.txt     ; ${TMP}  ; target_examples.vm ; 
Target examples    ; target_examples_1.txt               ; ${TMP}  ; target_examples.vm ; 1

Include/Parse examples ; include_parse_${BEANNAME}.txt   ; ${TMP}  ; include_parse_example.vm ;
